#searchWidgetDiv {
  width: 600px;
  border: 1px solid #ccc;
  font-size: 16px;
  flex-grow: 1;
}

#searchOptions {
  height: 42px;
  width: 160px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

#searchOptions option[value=""][disabled] {
  color: #888;
}

#searchOptions:invalid {
  color: #888;
}

#searchOptions:valid {
  color: #333;
}

#searchOptions option {
  color: #333;
}

.search-controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.search-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-controls select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.container {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 16px auto;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.search-controls {
  display: flex;
  gap: 8px;
  align-items: center;
}

.search-wrapper {
  position: relative;
  flex: 1; /* ให้กินพื้นที่ที่เหลือ */
  min-width: 200px; /* กัน input หดเล็กเกิน */
}

.search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* สำคัญ กันล้น */
  padding: 8px 12px;
  font-size: 16px;
  font-family: "Noto Sans Thai", sans-serif;
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

#listContainer {
  padding: 0;
  margin: 0;
  list-style: none;
}

#listContainer li {
  display: flex;
  /* justify-content: space-between; ข้อความชิดซ้าย, ปุ่มลบชิดขวา */
  align-items: center;
  padding: 8px 0; /* ใส่ padding แนวตั้ง */
  margin-bottom: 8; /* ไม่มี margin รอบ */
  color: #888;
  padding-left: 16px;
}

#listContainer li input[type="checkbox"] {
  width: 20px; /* ขนาดความกว้าง */
  height: 20px; /* ขนาดความสูง */
  accent-color: #04aa6d; /* สีติ้กเป็นเขียว */
  cursor: pointer;
}

#listContainer li label {
  margin-left: 16px;
  cursor: pointer;
}

#listContainer li span {
  margin-left: 0; /* ชิดซ้ายสุด */
}

.container h2 {
  text-align: center; /* จัดกลางแนวนอน */
  margin-top: 0px; /* ระยะห่างจากขอบบน ปรับได้ตามต้องการ */
}

#listContainer li.selected {
  background-color: #e0f0ff;
  /* font-weight: bold; */
  color: #000;
}

#listContainer li:not(.selected):hover {
  background-color: #f0f0f0; /* สีเทาอ่อน */
}
